* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://images.shiksha.com/mediadata/images/1591109353php1gJhFC.jpeg');
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.container {
    background-color: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(255, 255, 255, 0.6);
    width: 100%;
    max-width: 450px;
    padding: 2rem;
    color: white;
    backdrop-filter: blur(12px);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.4);
    min-height: 500px;  
}

.container h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}


.user {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.user label {
    font-size: 15px;
    margin-bottom: 6px;
    color: rgba(255,255,255,0.9);
    font-weight: 500;
    letter-spacing: 0.5px;
    display: block;
}

.user input {
    border: 2px solid rgba(255,255,255,0.8);
    border-radius: 40px;
    height: 45px;
    background: rgba(255, 255, 255, 0.1);
    padding: 0 15px;
    color: white;
    outline: none;
    font-size: 16px;
}

.user input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}


.btn {
    margin-top: 20px;
    height: 45px;
    width: 100%;
}

.btn input {
    border: none;
    font-weight: 600;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    font-size: 16px;
    background: linear-gradient(135deg, #5262f7, #3b4cca);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn input:hover {
    background: linear-gradient(135deg, #3b4cca, #1e2a78);
    transform: scale(1.02);
}

.container h4 {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 400;
}

.login-link{
    margin-top: 10px;

}
.login-link a{
    color: #CFD9FF;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
.login-link a:hover{
    text-decoration: underline;
}

@media (max-width: 480px) {
    .container {
        padding: 1.5rem;
        min-height: 400px;
    }

    .container h1 {
        font-size: 26px;
    }

    .btn input {
        font-size: 14px;
    }
}


